# **Joins**

In Spark, a join operation is used to combine two DataFrames based on a common column or set of columns. The result of a join is a new DataFrame that combines rows from the input DataFrames according to the specified conditions. Join operations are fundamental in data processing, allowing you to combine information from multiple sources.

There are several types of joins in Spark, and the choice of join type depends on the desired result and the characteristics of the data. Here are the common join types in Spark:

### 1. Inner Join:

An inner join returns only the rows that have matching values in both DataFrames based on the specified condition.

```python
# Example of an inner join
result_inner_join = df1.join(df2, df1["common_column"] == df2["common_column"], "inner")
```

### 2. Left Outer Join (Left Join):

A left outer join returns all the rows from the left DataFrame and the matching rows from the right DataFrame. If there is no match, the result will contain null values for columns from the right DataFrame.

```python
# Example of a left outer join
result_left_join = df1.join(df2, df1["common_column"] == df2["common_column"], "left_outer")
```

### 3. Right Outer Join (Right Join):

A right outer join returns all the rows from the right DataFrame and the matching rows from the left DataFrame. If there is no match, the result will contain null values for columns from the left DataFrame.

```python
# Example of a right outer join
result_right_join = df1.join(df2, df1["common_column"] == df2["common_column"], "right_outer")
```

### 4. Full Outer Join (Full Join):

A full outer join returns all the rows when there is a match in either the left or right DataFrame. If there is no match, the result will contain null values for columns from the DataFrame without a match.

```python
# Example of a full outer join
result_full_join = df1.join(df2, df1["common_column"] == df2["common_column"], "outer")
```

### 5. Left Semi Join:

A left semi join returns all the rows from the left DataFrame where there is a match in the right DataFrame. It does not include the actual data from the right DataFrame, only the matching keys.

```python
# Example of a left semi join
result_left_semi_join = df1.join(df2, df1["common_column"] == df2["common_column"], "left_semi")
```

### 6. Left Anti Join:

A left anti join returns all the rows from the left DataFrame where there is no match in the right DataFrame.

```python
# Example of a left anti join
result_left_anti_join = df1.join(df2, df1["common_column"] == df2["common_column"], "left_anti")
```

### 7. Cross Join (Cartesian Join):

A cross join returns the Cartesian product of rows from both DataFrames, meaning each row from the left DataFrame is combined with every row from the right DataFrame.

```python
# Example of a cross join
result_cross_join = df1.join(df2, "common_column")
```

Certainly! Let's continue with more explanations and examples:

### 8. Cross Join (Cartesian Join):

A cross join returns the Cartesian product of rows from both DataFrames, meaning each row from the left DataFrame is combined with every row from the right DataFrame.

```python
# Example of a cross join
result_cross_join = df1.crossJoin(df2)
```

In this example, the `crossJoin` method is used to perform a cross join between `df1` and `df2`. This operation is often avoided due to its potential to produce a large result, especially on datasets with many rows.

### 9. Natural Join:

A natural join performs a join based on all columns with the same name in both DataFrames. It automatically identifies and joins columns with the same name.

```python
# Example of a natural join
result_natural_join = df1.join(df2, "common_column")
```

In this example, the `common_column` is assumed to be present in both DataFrames, and the natural join is performed based on that common column.

### 10. Cross Join with Conditions:

You can perform a cross join with additional conditions using the `filter` method.

```python
# Example of a cross join with conditions
result_cross_with_condition = df1.crossJoin(df2).filter(df1["common_column"] == df2["common_column"])
```

In this example, a cross join is first performed, and then a filter condition is applied to select only the rows where the common column matches.

### 11. Join Using SQL Syntax:

Spark also allows you to perform joins using SQL syntax by registering DataFrames as temporary SQL tables.

```python
# Register DataFrames as SQL tables
df1.createOrReplaceTempView("table1")
df2.createOrReplaceTempView("table2")

# Perform a join using SQL syntax
result_sql_join = spark.sql("SELECT * FROM table1 INNER JOIN table2 ON table1.common_column = table2.common_column")
```

This example demonstrates how to register DataFrames as temporary SQL tables and perform a join using SQL syntax.

### 12. Handling Duplicate Column Names:

When joining DataFrames with duplicate column names, you can provide a list of columns for the join condition.

```python
# Example of joining with duplicate column names
result_duplicate_columns = df1.join(df2, ["common_column", "other_column"])
```

Here, the join condition is specified explicitly to avoid ambiguity in case of duplicate column names.

These additional examples and explanations provide a more comprehensive understanding of join operations in Spark. Choose the appropriate join type based on your specific use case and the structure of your data.

## Is This Join Operation Similar To SQL Join?

Yes, the join operations in Spark, as demonstrated in the examples, are quite similar to SQL join operations. Spark's DataFrame API borrows concepts and syntax from SQL, making it intuitive for users familiar with relational databases and SQL.

Here's a comparison of Spark DataFrame join operations with their SQL counterparts:

### 1. Inner Join:

**Spark:**
```python
result_inner_join = df1.join(df2, df1["common_column"] == df2["common_column"], "inner")
```

**SQL:**
```sql
SELECT * FROM df1 INNER JOIN df2 ON df1.common_column = df2.common_column
```

### 2. Left Outer Join (Left Join):

**Spark:**
```python
result_left_join = df1.join(df2, df1["common_column"] == df2["common_column"], "left_outer")
```

**SQL:**
```sql
SELECT * FROM df1 LEFT OUTER JOIN df2 ON df1.common_column = df2.common_column
```

### 3. Right Outer Join (Right Join):

**Spark:**
```python
result_right_join = df1.join(df2, df1["common_column"] == df2["common_column"], "right_outer")
```

**SQL:**
```sql
SELECT * FROM df1 RIGHT OUTER JOIN df2 ON df1.common_column = df2.common_column
```

### 4. Full Outer Join (Full Join):

**Spark:**
```python
result_full_join = df1.join(df2, df1["common_column"] == df2["common_column"], "outer")
```

**SQL:**
```sql
SELECT * FROM df1 FULL OUTER JOIN df2 ON df1.common_column = df2.common_column
```

### 5. Left Semi Join:

**Spark:**
```python
result_left_semi_join = df1.join(df2, df1["common_column"] == df2["common_column"], "left_semi")
```

**SQL:**
```sql
SELECT * FROM df1 WHERE common_column IN (SELECT common_column FROM df2)
```

### 6. Left Anti Join:

**Spark:**
```python
result_left_anti_join = df1.join(df2, df1["common_column"] == df2["common_column"], "left_anti")
```

**SQL:**
```sql
SELECT * FROM df1 WHERE common_column NOT IN (SELECT common_column FROM df2)
```

### 7. Cross Join (Cartesian Join):

**Spark:**
```python
result_cross_join = df1.crossJoin(df2)
```

**SQL:**
```sql
SELECT * FROM df1 CROSS JOIN df2
```

### 8. Natural Join:

**Spark:**
```python
result_natural_join = df1.join(df2, "common_column")
```

**SQL:**
```sql
SELECT * FROM df1 NATURAL JOIN df2
```

### 9. Cross Join with Conditions:

**Spark:**
```python
result_cross_with_condition = df1.crossJoin(df2).filter(df1["common_column"] == df2["common_column"])
```

**SQL:**
```sql
SELECT * FROM df1 CROSS JOIN df2 WHERE df1.common_column = df2.common_column
```

### 10. Join Using SQL Syntax:

**Spark:**
```python
result_sql_join = spark.sql("SELECT * FROM df1 INNER JOIN df2 ON df1.common_column = df2.common_column")
```

**SQL:**
```sql
SELECT * FROM df1 INNER JOIN df2 ON df1.common_column = df2.common_column
```

### 11. Handling Duplicate Column Names:

**Spark:**
```python
result_duplicate_columns = df1.join(df2, ["common_column", "other_column"])
```

**SQL:**
```sql
SELECT * FROM df1 INNER JOIN df2 ON df1.common_column = df2.common_column AND df1.other_column = df2.other_column
```

In general, the syntax and semantics of Spark's DataFrame API closely align with SQL, making it convenient for users to transition from SQL to Spark for data processing tasks.

# Implementation:

In [3]:
#import pyspark
from pyspark.sql import SparkSession
import warnings
warnings.filterwarnings('ignore')

spark=SparkSession.builder.appName('Joins').getOrCreate()

In [4]:
person = spark.createDataFrame([
(0, "Bill Chambers", 0, [100]),
(1, "Matei Zaharia", 1, [500, 250, 100]),
(2, "Michael Armbrust", 1, [250, 100])])\
.toDF("id", "name", "graduate_program", "spark_status")
graduateProgram = spark.createDataFrame([
(0, "Masters", "School of Information", "UC Berkeley"),
(2, "Masters", "EECS", "UC Berkeley"),
(1, "Ph.D.", "EECS", "UC Berkeley")])\
.toDF("id", "degree", "department", "school")
sparkStatus = spark.createDataFrame([
(500, "Vice President"),
(250, "PMC Member"),
(100, "Contributor")])\
.toDF("id", "status")

In [5]:
person.show()
graduateProgram.show()
sparkStatus.show()

+---+----------------+----------------+---------------+
| id|            name|graduate_program|   spark_status|
+---+----------------+----------------+---------------+
|  0|   Bill Chambers|               0|          [100]|
|  1|   Matei Zaharia|               1|[500, 250, 100]|
|  2|Michael Armbrust|               1|     [250, 100]|
+---+----------------+----------------+---------------+

+---+-------+--------------------+-----------+
| id| degree|          department|     school|
+---+-------+--------------------+-----------+
|  0|Masters|School of Informa...|UC Berkeley|
|  2|Masters|                EECS|UC Berkeley|
|  1|  Ph.D.|                EECS|UC Berkeley|
+---+-------+--------------------+-----------+

+---+--------------+
| id|        status|
+---+--------------+
|500|Vice President|
|250|    PMC Member|
|100|   Contributor|
+---+--------------+

### Inner Joins
Inner joins evaluate the keys in both of the DataFrames or tables and include (and join together)
only the rows that evaluate to true. In the following example, we join the graduateProgram
DataFrame with the person DataFrame to create a new DataFrame:

In [7]:
joinExpression = person["graduate_program"] == graduateProgram['id']
joinExpression

Column<'(graduate_program = id)'>

In [8]:
joinType = "inner"
person.join(graduateProgram, joinExpression, joinType).show()

+---+----------------+----------------+---------------+---+-------+--------------------+-----------+
| id|            name|graduate_program|   spark_status| id| degree|          department|     school|
+---+----------------+----------------+---------------+---+-------+--------------------+-----------+
|  0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkeley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkeley|
|  2|Michael Armbrust|               1|     [250, 100]|  1|  Ph.D.|                EECS|UC Berkeley|
+---+----------------+----------------+---------------+---+-------+--------------------+-----------+

### Outer Joins
Outer joins evaluate the keys in both of the DataFrames or tables and includes (and joins
together) the rows that evaluate to true or false. If there is no equivalent row in either the left or
right DataFrame, Spark will insert null:

In [9]:
joinType = "outer"
person.join(graduateProgram, joinExpression, joinType).show()

+----+----------------+----------------+---------------+---+-------+--------------------+-----------+
|  id|            name|graduate_program|   spark_status| id| degree|          department|     school|
+----+----------------+----------------+---------------+---+-------+--------------------+-----------+
|   0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkeley|
|   1|   Matei Zaharia|               1|[500, 250, 100]|  1|  Ph.D.|                EECS|UC Berkeley|
|   2|Michael Armbrust|               1|     [250, 100]|  1|  Ph.D.|                EECS|UC Berkeley|
|NULL|            NULL|            NULL|           NULL|  2|Masters|                EECS|UC Berkeley|
+----+----------------+----------------+---------------+---+-------+--------------------+-----------+

* All other Join Operation same as example given above.